@import "../../assets/base.scss";
.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  width: 100%;
  padding: 16px 16px;
  background: transparent;
  color: $text;
  border-radius: 8px;
  user-select: none;
  cursor: pointer;
  * {
    margin: 0;
    padding: 0;
  }

  &:hover {
    background-color: $input-background;
  }
  svg {
    height: 17px;
  }
  p {
    height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.linkActive {
  background-color: $bule;
  color: $white;
  svg {
    fill: $white;
  }
  &:hover {
    background-color: $bule;
  }
}
