@import "../../assets/base.scss";
.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  width: 100%;
  padding: 10px 16px;
  background: $white;
  color: $text;
  border-radius: 8px;
  user-select: none;
  cursor: pointer;
  

  &:hover {
    background-color: $input-background;
  }

  &:active {
    background-color: $bule;
    color: $white;
    svg {
      fill: $white;
    }
  }

  * {
    margin: 0;
    padding: 0;
  }
}
