.issues {
  .filtered-btns {
    border: 0.1px solid #2d333a;
    padding: 1rem;
    font-size: 1.3rem;
    font-family: sans-serif;
    display: flex;
    gap: 2rem;

    button {
      padding: 0.3rem 1rem;
      border: none;
      color: white;
      border-radius: 6px;
      transform: scale(0.8);

      &:focus {
        opacity: 0.8;
        transform: scale(1.1);
      }
    }

    .All {
      background-color: dodgerblue;
    }

    .Finished {
      background-color: #2ea043;
    }

    .OnProgress {
      background-color: #fdd641;
    }
  }
}
