.issue {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.1px solid #30363d;
  border-collapse: collapse;
  padding: 1rem;
  &-content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    // padding: 1rem;
    * {
      margin: 0;
      padding: 0;
      font-family: sans-serif;
    }
    &-icon {
      padding: 0.4rem 1rem;
      svg {
        width: 24px;
        height: 24px;
        fill: #3fba50;
      }
    }
    &-title {
      &-text {
        display: flex;
        flex-wrap: wrap;
        gap: 0.4rem;
        h3 {
          font-size: 1.3rem;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #c9d1d9;
        }
        p {
          font-size: rem;
          font-weight: 500;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0.1rem 0.4rem;
          border-radius: 223px;
        }
        .component {
          background-color: #3f3a1d;
          border: 2px solid #776516;
          color: #fac70d;
        }
        .status {
          background-color: #383a49;
          border: 2px solid #615e77;
          color: #d2c3f9;
        }
        .resolution {
          background-color: #404446;
          border: 2px solid #7a7b75;
          color: #fff1ba;
        }
        .bug {
          background-color: #33161d;
          border: 2px solid #703e43;
          color: #fd9b9d;
        }
      }
      &-info {
        color: #8b948e;

        a {
          text-decoration: none;
          color: #8b948e;

          &:hover {
            color: #0c58ca;
          }
        }
      }
    }
  }
  &-comment {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    color: #8b949e;
    font-family: sans-serif;
    margin-top: 1rem;
    svg {
      width: 24px;
      height: 24px;
      fill: #8b949e;
    }
  }
}
