@import "../../assets/base.scss";

.sidebar {
  display: flex;
  height: 100vh;
  justify-content: space-between;
  flex-direction: column;
  width: max-content;

  &_assets {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    overflow: scroll;
  }
}
